
span,td{
    margin: 10px;
    font-size: 20px;
    color:white;
    text-align: left;
    align-items: baseline;
    font-weight: 400;
    font-family: "Montserrat", sans-serif
}

p{
    color: white;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif
}

.modal-title{
    color: white;
    font-weight: 600;
    font-family: "Montserrat", sans-serif
}
