td,span{
    font-size: 20px;
    color: white;

}
.Span{
    padding: 5px;
    background: grey;
    border-radius: 10px;
    position: relative;
    top: 25px;
    left: 20px;
}
P{
    position: relative;
    left: 220px;
    font-size: 20px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    color: white;
}
